


<div id="content" class="background">

  <div class="auth">

  
    <h2>Sign in</h2>

    <form id="sign-in" action="<%=session_url%>" method="post">
      <input 
        type="hidden" 
        name="authenticity_token" 
        value="<%=form_authenticity_token%>">
  
  
      <input 
        type="text" 
        name="user[email]" 
        class="email" 
        placeholder="Email"
      ><br>

      <input 
        type="password" 
        name="user[password]" 
        class="password" 
        placeholder="Password"
      ><br>
    
      <input id="submit" type="submit" value="Sign in" class="btn btn-primary">
    </form>

    <form id="guest-sign-in" action="<%=demo_users_url%>" method="post">
  
      <input 
        type="hidden" 
        name="authenticity_token" 
        value="<%=form_authenticity_token%>" />
    
      <input 
        type="submit" 
        value="Demo Sign in" 
        class="btn btn-primary" 
        id="demo-button"/>
  
    </form>
  
  
  </div>

</div>





