<div class="auth">
  
  <h2>Sign Up</h2>


  <form id="sign-up" action="<%=users_url%>" method="POST">
    <input 
      type="hidden" 
      name="authenticity_token" 
      class="email"
      value="<%=form_authenticity_token%>" />
    
    <input 
      type="text" 
      name="user[email]" 
      class="email" 
      placeholder="Email"
      value='<%= @user.email %>' /><br>
    
    
    <input 
      type="password" 
      name="user[password]" 
      class="password" 
      placeholder="Password"
      value="" /><br>
    
    <input 
      type="submit" 
      id="" 
      value="Sign up" class="btn btn-primary"/>
  </form>
  
</div>

