/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";


.auth {
  padding-left: 50px;
}

form .email {
  margin-bottom: 5px;
}

form .password {
  margin-bottom: 5px;
}

.thumbs {
  width: 200px;
  height: 200px;

  display: inline-block;
  vertical-align: top;
  margin: 5px;
  padding-top: 5px;
  text-align: center;
  

}

.image {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  margin: 0 auto;
  margin-bottom: 5px;
}



body * {
  border: thin dotted blue;
}