/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";


.auth {
  padding-left: 50px;
}

form .email {
  margin-bottom: 10px;
}

form .password {
  margin-bottom: 10px;
}


.image {
  width: 200px;
  height: 150px;
  border: 2px solid black;
  margin: 0 auto;
  margin-bottom: 5px;
}

.image:hover {
    opacity: 0.5;
}



body * {
  /*border: thin dotted blue;*/
}


.videos-slider {
    position: relative;
    
    background-color: #ccc;
    margin: 10px;
  
    
    overflow: hidden;
}
.track {

    left: 10px;
    
    
    margin: 0;
    border: 0;

    width: 2000px;
}

/*
.thumbs {
  width: 200px;
  height: 200px;

  vertical-align: top;
  margin: 5px;

}

*/
.thumbs {
  
    display: inline-block;
    vertical-align: top;
    
    padding-top: 5px;
    
    margin: 5px;
    margin-top: 10px;
    padding: 0;

    
    width: 200px;
    height: 200px;
    text-align: center;

    
    
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
}



.left, .right {
    position: absolute;
    color: white;
    font-size: 48px;
    top: 57px;
    
    cursor: pointer;
    z-index: 1;
}
.left {
    left: 0;
}
.right {
    right: 0;
}



