/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";


.auth {
  padding-left: 100px;
}


form .email, .password {
  font-size: 16px;
  padding: 10px 10px;
  width: 390px;
  border-radius: 2px;
  margin-bottom: 15px; 
}

form .btn {
  font-size: 16px;
}

.image {
  width: 200px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.image:hover {
  opacity: 0.7;
}



body * {
  /*border: thin dotted blue;*/
}


.videos-slider {
  position: relative;
  height: 210px;
  background-color: #E0E0E0 ;
  margin: 10px;
  
    
  overflow: hidden;
}

.track {
  position: absolute;
  left: 10px;
  margin: 0;
  border: 0;
  width: 2000px;
}


.thumbs {
  
  display: inline-block;
  vertical-align: top;
  
  padding-top: 5px;
  
  margin: 5px;
  margin-top: 10px;
  padding: 0;

  width: 200px;
  height: 200px;
  text-align: center;

    
    
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}



.left, .right {
  position: absolute;

  text-shadow: -2px 0 #686868, 0 2px #686868, 2px 0 #686868, 0 -2px #686868;

  color: #E0E0E0;
  font-size: 30px;
  top: 85px;
  cursor: pointer;
  z-index: 1;
}

.left:hover, .right:hover {
  color: #686868 ;
}



.left {
  left: 0;
}
.right {
  right: 0;
}

#player {
  display: block;
  margin: auto;
}



