
 <div class="add-new-video-text">
   <span class="glyphicon glyphicon-plus-sign add-new-video"></span>

   <p>Add a new video</p>
 </div>

 <form class="video-form form-group">
   <input type="text" placeholder="Enter YouTube URL" class="video-input form-control" name="url">

   <div class="video-warning">Please keep videos relevant!</div>

   <input type="submit" value="Upload Video" class="video-submit btn btn-primary">

   <div class="alert alert-danger video-alert" role="alert">Invalid URL</div>

 </form>
