<h3 class="slider-name"><%= name %></h3>
<div class="videos-slider">
    <div 
      class="left-arrow arrow">
      <div class="glyphicon glyphicon-chevron-left"></div>
    </div>
    <div 
      class="right-arrow arrow">
      <div class="glyphicon glyphicon-chevron-right"></div>
    </div>
    <div class="track" id="track1"></div>
</div>

<br>




