<div class="slider-name"><%= name %></div>
<br>
<div class="videos-slider">
    <div 
      id="left1" 
      class="left glyphicon glyphicon-chevron-left"></div>
    <div 
      id="right1" 
      class="right glyphicon glyphicon-chevron-right"></div>
    <div class="track" id="track1"></div>
</div>

<br>




