<div class="slider-name"><%= name %></div>
<br>
<div class="videos-slider">
    <div 
      class="left arrow">
      <div class="glyphicon glyphicon-chevron-left"></div>
    </div>
    <div 
      class="right arrow">
      <div class="glyphicon glyphicon-chevron-right"></div>
    </div>
    <div class="track" id="track1"></div>
</div>

<br>




