<a
  href="<%= "/#/videos/" + video.get("id") %>">
  <img src="<%= "http://img.youtube.com/vi/" + video.get("ytid") + "/0.jpg" %>" class="image"></img>
</a>


<div class="video-title"><%= video.get("title") %></div>