<a
  href="<%= "/#/videos/" + video.get("id") %>">
  <img src="<%= "http://img.youtube.com/vi/" + video.get("ytid") + "/0.jpg" %>" class="image"></img>
</a>


<span class="video-title"><%= video.get("title") %></span>

<span class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    <span class="glyphicon glyphicon-plus"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Add to My List</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Add to Queue</a></li>
  </ul>
</span>
