<a
  href="<%= "/#/videos/" + video.id %>">
  <img
    src="<%= "http://img.youtube.com/vi/" + video.get("ytid") + "/0.jpg" %>"
    class="image">
  </img>
</a>
<div class="under-image">
  <div class="video-title"><%= video.get("title") %></div>
  <% if (video.isInMyList()) { %>
    <span
      type="button"
      data-toggle="tooltip"
      title="Remove from My List"
      class="btn btn-primary glyphicon glyphicon-minus remove-list toggle-list">
    </span>
  <% } else { %>
    <span
      type="button"
      data-toggle="tooltip"
      title="Add to My List"
      class="btn btn-primary glyphicon glyphicon-plus add-list toggle-list">
    </span>
  <% } %>
</div>
