<a
  href="<%= "/#/videos/" + video.get("id") %>">
  <img src="<%= "http://img.youtube.com/vi/" + video.get("ytid") + "/0.jpg" %>" class="image"></img>
</a>


<span class="video-title"><%= video.get("title") %></span>

<span class="dropdown">
    <span class="glyphicon glyphicon-plus dropdown-toggle" data-toggle="dropdown"></span>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <% if (video.isInMyList()) { %>
      <li class="dropdown-menu-item remove-list">Remove from My List</li>
    <% } else { %>
      <li class="dropdown-menu-item add-list">Add to My List</li>
    <% } %>
    
    <li class="dropdown-menu-item add-queu">Add to Queue</li>
    
  </ul>
</span>


